body{
    position:static;
    display:flex;
    flex-direction:column; /* tablet or smaller*/
}

main{
    overflow:visible;
}

#navbar{
    display:flex;
    flex-direction:column;
    padding:10px;
}

.nav-link{
    font-size:18px;
    text-decoration:none;
    color:black;
    border-style: solid;
    border-color:black;
    border-width:1px 0px 0px 0px; 
    width:100%;
}

.nav-link:hover{
    color:grey;
}



@media(min-width:1025px){ /* big size*/
    body{
        position:fixed;
        flex-direction:row;
    }
    main{
        overflow:auto;
        max-height:100vh;
    }
    .nav-link{
        padding-top:20px;
    }
}